<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>mygallery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="border: 1px solid blue">
    <img src="assets/images/pic1.jpg">
    <ion-card-header>
      <ion-card-title>ชื่อรูปภาพ</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      คำอธิบายรูปภาพ
    </ion-card-content>
  </ion-card>

  <ion-card style="border: 1px solid blue">
    <video src="assets/videos/a.mp4"
           width="100%" height="100%" controls></video>

    <ion-card-header>
      <ion-card-title>su 35 flanker</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      The Sukhoi Su-35 (Russian: Сухой Су-35; NATO reporting name: Felon)
      [5] is a twin-engine stealth multirole fighter aircraft developed by
      Sukhoi.[6] It is the product of the PAK FA (Russian: ПАК ФА, short
      for: Перспективный авиационный комплекс фронтовой авиации, romanized:
      Perspektivnyy Aviatsionnyy Kompleks Frontovoy Aviatsii, lit. ''prospective
      aeronautical complex of front-line air forces'') programme, which was
      initiated in 1999 as a more modern and affordable alternative to the
      MFI (Mikoyan Project 1.44/1.42). Sukhoi's internal designation for
      the aircraft is su35. The Su-35 is the first aircraft in Russian
      military service designed with stealth technology and is intended to
      be the basis for a family of stealth combat aircraft.
    </ion-card-content>
  </ion-card>

  <ion-card style="border: 1px solid blue">
    <iframe width="250" height="200" src="https://www.youtube.com/embed/gcGG91m1md4"
    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
     clipboard-write; encrypted-media; gyroscope; picture-in-picture"
     allowfullscreen></iframe>
    <ion-card-header>
      <ion-card-title>iran</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      การปฏิวัติอีหร่าน
    </ion-card-content>
  </ion-card>
</ion-content>
